{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Comment</h1>

        {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-secondary" href="{{ path('overview') }}">Back to overview</a>

        {{ include('comment/_delete_form.html.twig') }}
    </div>
{% endblock %}
